*{
margin: 0;
padding: 0;
}
.Container{
  width: 25%;
  margin: 10rem 35rem;
  background-color: black;
  border-radius: 9px;
}
.Container input{
  width: 21rem;
  margin: 0.8rem 0.8rem;
  padding: 0.6rem;
  border-radius: 5px;
}
.Container button{
  width: 54px;
  padding: 2%;
  margin: 10px 20px;
  background-color: orangered;
  border-radius: 10px;
  font-size: 24px;
}